ul{
    font-size: small;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
nav{
    grid-column: 2;
    grid-row: 2;
}
h1{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
div{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}