#banniere{
    align: center; text-align: center;
}
h1{
    color: #EF233C;
    font-weight: bolder; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    text-align: left;
    font-size : x-large ; text-decoration: dotted underline 3px;
    color: #2B2D42;
}
.blocktxt{
    border-style: solid; border-color: black;
}
#imgBanniere{
    width: 800px; height: 200;
}
.imgparagraphe{
    text-align: center;
}
.imgsize{
    width: 200px; height: 100;
}
ul{
    list-style-type: none;
}
body{
    background: linear-gradient(#CCDAE0,#EDF2F4) ;
}
footer{
    text-align: right;
}
a{
    color: #D90429;
}
a:visited{
    color: grey;
}
a:hover{
    color: #2B2D42;
}
p{
    text-align: left;
}