h1{
    color: rgb(219, 36, 19)
}
#contenu{
    background-color: rgb(250, 252, 255);
}
img{
    max-width: 15%;
}
#contenu2 {
    text-align: right;
}
#lienfat{
    color: rgb(0, 255, 17);
}
h1{
    text-align: center;
}